.easy-search__container {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  height: 16px;
  transform: translateY(-50%);
  z-index: 200;
}
body.rtl .easy-search__container {
  right: initial;
  left: 0.5rem;
}
.easy-search__button {
  width: 16px;
  height: 16px;
  color: #ff4136;
  cursor: pointer;
}
.easy-search__hud {
  display: block;
  position: absolute;
  text-align: center;
  z-index: 1000;
  box-sizing: border-box;
  top: calc(20px + 100%);
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
@media (max-width: 400px) {
  .easy-search__hud {
    transform: translateX(-100%);
  }
}
.easy-search__hud-shade {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.easy-search__hud .condition {
  margin: 12px 0 0 0;
}
.easy-search__hud .tip {
  position: absolute;
  z-index: 200;
  background: no-repeat 0 0;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  width: 30px;
  height: 15px;
  background-image: url("hudtip_top.png");
}
.easy-search__hud .body {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 25px 100px rgba(31, 41, 51, 0.5);
}
.easy-search__hud .main {
  padding: 24px;
  overflow: hidden;
  box-sizing: border-box;
}
.easy-search__hud .heading {
  margin-bottom: 1rem !important;
}
.easy-search__hud .field-row {
  margin-bottom: 7px;
}
.easy-search__hud .input-important {
  width: 55%;
}
.easy-search__hud .input-grow {
  flex-grow: 1;
}
.easy-search__hud .input input {
  padding-left: 9px !important;
}
.easy-search__hud .flex-full {
  flex: 5;
}
.easy-search__hud .add-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background-color: #3D9970;
  color: #fff;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 2px;
  margin: 12px 0 0;
  cursor: pointer;
}
.easy-search__hud .and-or-or {
  margin: 0 0 12px 0;
  text-align: left;
}
.easy-search__hud .remove-condition {
  float: right;
  line-height: 26px;
  font-size: 0.8rem;
  color: #ff4136;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.easy-search__hud .remove-condition:hover {
  text-decoration: underline;
}
.easy-search__hud-queries {
  margin: 0 0 24px;
}
.easy-search__hud-conditions {
  position: relative;
}
.easy-search__hud-hider {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

body.ltr #header .easy-search__container .flex:not(:last-child) {
  margin-right: 0;
}

body.ltr .texticon .clear {
  right: 32px;
}

body.rtl .texticon .clear {
  left: 32px;
}